.EventOfADay_image,
.EventOfADay_spinner {
    height: 560px;
    max-height: 560px;
    margin: auto;

    background-color: green;
}

.H560 {
    height: 560px;
    max-height: 560px;
    margin-bottom: 30px;
}
.EventOfADay_spinner {
    padding-top: 250px;
}

.EventOfADay_info {
    text-align: left;
}

.EventOfADay_describe {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}